* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    /* this makes sure the padding and the border is included in the box sizing */
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #ededed;
  }
  
html body {
    padding: 0;
    margin: 0;
    overflow-y: inherit;
}

a {
    color: #FFF;
    text-decoration: none;
}

.header {
    height: 400px;
    position: relative;
}

.headerImg {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.logo {
    width: 1000px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo > img {
    width: 100%;
    height: 100%;
}

.subtitle {
    color: white;
    font-size: 1.75rem;
}

@media screen and (max-width: 1100px) {
    .logo {
        width: 700px;
    } 
    .subtitle {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 760px) {
    .header {
        height: 250px;
    }
    .logo {
        width: 85%;
    }
    .subtitle {
        font-size: 1.25rem;
    }
}


